.combo-box {
  -fx-font-family: $fontFamily;
  -fx-font-size: $fontSizeh6;
  -fx-font-style: normal;

  //.view-login & { //view-cadastro-empresa &, .view-cadastro-produto & {
  //  -fx-font-size: $fontSizeh5;
  //}
}






